@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-yellow: "#F5FF42";
  --dark-yellow: "#C9D400";
  --highlight-blue: "#0F7F8C";
  --background-white: "#F8F8F8";
  --black-words: "#1E1E1E";
  --grey-words: "#9D9D9D";
  --light-white: "#FFFFFF";
}
